name: C++ Linter

on:
  push:

jobs:
  clang-format:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - 'RFL_source'
          - 'examples'
          - 'playground'
    steps:
      - uses: actions/checkout@v3

      - name: Run clang-format style check for ${{matrix.path }}.
        uses: jidicula/clang-format-action@v4.11.0
        with:
          clang-format-version: '16'
          check-path: ${{ matrix.path }}
